/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
        --textutama:  #232e35;
        --textkedua:  #656d72;

        --bordercolor: #f1f1f1;
        --linecolor: #d9d9d9;

        --backround: #fff;
        --scndback: #fbfbfb;
        --thrtback: #f5f5fe;

        --iconutama: #749DAD;
        --iconkedua: #5d51e8;

        --secpading: 6rem 0 ;

        --itemborderraduis: 0.7rem;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "JetBrains Mono", monospace;
}

h1,h2,h3,h4,h5,h6{
    color: var(--textutama);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p,span,label,input,textarea,li{
    color: var(--textkedua);
}

a{
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0px auto;
    
}

/* btn */
.btn{
    padding: 1rem 1.5rem;
    background-color: white;
    border: 1.5px solid var(--bordercolor);
    cursor: pointer;
    transition:0.2s ease-in-out ;
}

/* title */
.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title{
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--textkedua);
    position: relative;
    padding-left: 40px;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--linecolor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid: 3rem;
}

/* logo dan navbar */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--textutama);
}

.nav ul li {
    display: flex;
    align-items: center;
}

.nav ul li a {
    color: var(--textutama);
}

/* berger */

.burger div {
width: 25px;
height: 2px;
background-color: #000;
margin: 7px;
transition: all .3s ;
z-index: 99;
}

.burger{
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* hero */
#hero{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name{
    font-size: 3rem;
    font-weight: 700px;
    margin: 0.5rem 0 1rem;
}

.hero-name span{
    color: var(--iconutama);
}
.hero-right img {
    width: 100%;
    animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
.hero-right{
    display: flex;
    justify-content: center;
}

/* service */

#services{
    background-color: var(--scndback);
    padding: var(--secpading);
}
.services .pre-title{
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}
.services-title {
    text-align: center;
}
.service{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--backround);
    border-radius: var(--itemborderraduis);
}

.service h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon{
    background-color: var(--thrtback);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}
.service-icon svg{
    fill: var(--iconutama);
}

@media screen and (max-width : 1200px)  {
    .main-container{
        width: 90%;
    }
}